*.iml
.gradle
/local.properties
/.idea/caches
/.idea/codeStyles
/.idea/dataSources
/.idea/httpRequests
/.idea/libraries
/.idea/shelf
/.idea/dataSources.local.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.floo
.flooignore